@charset "UTF-8";
/* browser-specific transform and transition properties */
.scaleimg {
    -moz-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
}
.scaleimg:first-child {
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
}
.scaleimg:last-child {
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    -webkit-transform-origin: right top;
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
}
.scaleimg:hover {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
#images + p {
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
}