@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
body {
  font-size:30px;
  font-weight:bold;
  font-family:Sans-Serif;
  line-height:1.7;
  background-attachment:fixed;
  background-position:top;
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  text-shadow:3px 3px rgba(0,0,0,0.2);
}
audio {
  width:99%;
  position:fixed;
  bottom:5px;
  left:5px;								
  opacity:0.6;
  height:80px;
  -moz-transform:scaleY(2) translateY(-20px);
  zoom:220%;
  -ms-zoom: 100%;
}
audio:focus, a:active, a:focus, a:visited {
  outline:none;
  border:none;
}

@keyframes fadeout {
  from {opacity: 0}
  50% {opacity: 1}
  to {opacity: 0}
}
a[id^='lp']:empty::before {
  content: url(../img/up-alpha.png);
  position: relative;
  top:63px;
  display: inline-block;
  transform: rotate(90deg) scale(0.5);
  opacity: 0;
} 
a[id^='lp']:empty:target::before {
  animation: fadeout 10s;
}
pre:last-of-type {
  margin-bottom:100%;
}
a[id^='lp']:empty {
  position: relative;
  top: 63px;							/* 33px of the font plus 30px computed style */
}