  @charset "UTF-8";
  @viewport {
    width: device-width;
  }
  @font-face {
    font-family:'song';
    src:url(../ext/song.ttf) format('truetype');
  }
  body {
    background-image:url(../img/stripe.png);
    background-image:repeating-linear-gradient(-45deg, aliceblue, ghostwhite 10px);
    background-attachment:fixed;
  }
  h1 {
    text-align:center;
    text-shadow: 1px 3px 6px dimgray;
    background-image: url(../img/bg_tile.jpg);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 3px 6px dimgray;
    max-width: 30em;
    margin: 2em auto;
  }
  h1::after, h1::before {
    content: url(../ext/libra.png);
    position:relative;
  }
  h1::after {
    left: 0;
  }
  h1::before {
    right: 0;
  }
  a {
    text-decoration:none;
    outline:none;
    font-weight:bold;
    font-size:3em;
    font-family:'song';
    line-height: 1.5;
  }
  a:hover,a:focus {
    text-decoration:underline
    
  } 
  a:visited {
    color:darkred;
    
  }
  li {
    margin-bottom:64px;
    list-style-image: url(../ext/chk.png);
  }
  *:not(a)[title] {
    cursor:help;
  }
  h1 abbr {
    text-decoration:none;
    border: none;
    outline: none;
  }
  ul {
    margin: auto;
    padding: 100px;
    padding-left:150px;
    max-width: 60em;
    background-image:url(../ext/paper.svg);
    background-size: 170%;
    background-position: -156px -40px;
    background-repeat: repeat-y;
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.3));
  }
  #tinfo:not(:empty) {
  padding:1em;
  max-width:660px;
  border:1px solid lightgray;
  border-radius:16px;
  background-color:lightyellow;
  position:fixed;
  z-index: 1;				/* the filter property makes this element of z-index -1 ???  */
  top:5%;
  right:32px;
  font-weight:bold;
  font-size:x-large;
  line-height: 1.5;
  transition:right 1s;
  }
  #tinfo:empty {
  right:-999px;
  transition:right 1s;
  }
  audio {
    display:none;
  }
  img[src="img/smiley.png"] {
    animation:none;
    width:64px;
    margin:0 0 0 10px;
    opacity: 1;
  }
  button {
    display:none;
    opacity:0;
    transition:1s;
  }
  button:hover {
    opacity:1;
    transition:1s;
  }
 /* for logo animation */
 @keyframes snowflake {
   100% { transform: translateY(1800px) rotate(1200deg);  }
 }
 img { 
   opacity:0.5;
   position: absolute;
   z-index:-1;
   animation: snowflake 40s linear infinite;  
 }
 ul:hover ~ img {
   animation-play-state:paused;
 }
/*_______________________________________________________________________
 */
 @media (min-width:80em) {
   ul {
     padding-left:300px;
   }
   h1 {
    font-size: 4em;
   }
   #tinfo:not(:empty) {
    font-size:3em;
    max-width:20em;
   }
 }
 @media (max-width:40em) {
  body,ul {
    max-width:100%;
    padding:0;
  }
  #tinfo:not(:empty) {
  max-width:20em;
  }
 }