/* p:not(#nmq) {
    display:none;
} */
p {
    display:none;
}
p {
    text-align:center;
    font-weight:bold;
    margin:10% auto;
}
body {
  background-color: grey;
}
#nmq {
    display:block;
}
@media screen and (min-width: 320px) {
  body {
    background-color: green;
  }
#scdmq,#thrmq,#nmq,#fthmq {
    display:none;
}
  #fstmq {
      display:block;
}
}
@media screen and (min-width: 560px) {
  body {
    background-color: khaki;
  }
  #fstmq,#thrmq,#nmq,#fthmq {
      display:none;
}
#scdmq {
    display:block;
    font-size:1.2em;
}
}
@media screen and (min-width: 768px) {
  body {
    background-color: orange;
  }
  #fstmq,#nmq,#fthmq,#scdmq {
      display:none;
}
#thrmq {
    display:block;
    font-size:1.5em;
}
}
@media screen and (min-width: 960px) {
  body {
    background-color: indianred;
  }
    #fstmq,#nmq,#thrmq,#scdmq {
      display:none;
}
#fthmq {
    display:block;
    font-size:1.8em;
}
}
@media screen and (min-width: 20em) {                       /* 1em or 1rem = 16px => 320px / 16 = 20  */
  body {
    background-color: green;
  }
#scdmqem,#thrmqem,#nmqem,#fthmqem {
    display:none;
}
  #fstmqem {
      display:block;
}
}
@media screen and (min-width: 35em) {
  body {
    background-color: khaki;
  }
  #fstmqem,#thrmqem,#nmqem,#fthmqem {
      display:none;
}
#scdmqem {
    display:block;
    font-size:1.2em;
}
}
@media screen and (min-width: 48em) {
  body {
    background-color: orange;
  }
  #fstmqem,#nmqem,#fthmqem,#scdmqem {
      display:none;
}
#thrmqem {
    display:block;
    font-size:1.5em;
}
}
@media screen and (min-width: 60em) {
  body {
    background-color: indianred;
  }
    #fstmqem,#nmqem,#thrmqem,#scdmqem {
      display:none;
}
#fthmqem {
    display:block;
    font-size:1.8em;
}
}
@media screen and (min-width: 20rem) {
  body {
    background-color: green;
  }
#scdmqrm,#thrmqrm,#nmqrm,#fthmqrm {
    display:none;
}
  #fstmqrm {
      display:block;
}
}
@media screen and (min-width: 35rem) {
  body {
    background-color: khaki;
  }
  #fstmqrm,#thrmqrm,#nmqrm,#fthmqrm {
      display:none;
}
#scdmqrm {
    display:block;
    font-size:1.2em;
}
}
@media screen and (min-width: 48rem) {
  body {
    background-color: orange;
  }
  #fstmqrm,#nmqrm,#fthmqrm,#scdmqrm {
      display:none;
}
#thrmqrm {
    display:block;
    font-size:1.5em;
}
}
@media screen and (min-width: 60rem) {
  body {
    background-color: indianred;
  }
    #fstmqrm,#nmqrm,#thrmqrm,#scdmqrm {
      display:none;
}
#fthmqrm {
    display:block;
    font-size:1.8em;
}
}