body {
    background-color: #FFF;
    color: #000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav li {
    list-style-type: none;              /* removing the bullets and margins from the list items and floating them left.(D.P) */
    margin: 0;
    float: left;
    padding-bottom: 20px;               /* add some padding to the bottom of the list items to prevent a submenu from snapping shut as you move the cursor from the top-level menu.(D.P) */
    position: relative;                 /* set the list items’ position to relative to create containing blocks for the submenus.(D.P) */
}
#nav a {
    display: block;           /* style all the links by setting their "display" property to "block", giving them a background color.(D.P) */
    padding: 10px 20px;
    margin: 0;
    border-left: #CCC 1px solid;
    color: #e7e5e5;
    background-color: #736C56;
    font-weight: bold;
    text-decoration: none;
}
#nav ul {
    display: none;              /* Hide all the nested lists by setting their "display" property to "none".(D.P) */
    margin: 0;
    padding: 0;
    position: absolute;             /* To display the nested lists in the correct position, you need to make them absolutely positioned relative to their containing block. Setting the left offset to 0 aligns them to the left edge of the parent list item, and setting the top offset to 40px is the right amount to position the first-level submenus directly below the main menu.(D.P) */
    left: 0;
    top: 40px;
    /* Fix for IE 7 */
    background-color: #FFF;         /* To prevent the submenu snapping shut prematurely in IE 7, you also need to give it a background color.(D.P) */
    box-shadow:5px 5px 10px gray;               /* {LN_0} */
}
#nav ul ul {                        /* The top and left offsets in the #nav ul style rule affect all nested lists. As a result, a submenu nested at the next level will be left-aligned with its parent list item, superimposing one submenu on top of the other. To fix this, add a new style rule that applies to submenus nested at least two levels deep inside the main menu. Set the left offset to the same value as the width (150px) in the previous style rule, and adjust the top offset.(D.P) */
    left: 155px;               /* {LN_0} */
    top: 0px;               /* {LN_0} */
}
#nav li:hover > ul {            /* You want a submenu to display only when the mouse pointer is hovering over its parent list item, so you              need to use a child selector. If you use a descendant selector instead, nested submenus at each level will be displayed. A child selector   ensures that only the direct child is affected.(D.P) */
    display: block;
}
#nav ul li {                   /* You need to prevent the list items in the nested lists from floating. Also remove any margins and padding, and add a top border with the following descendant selector, which affects all nested lists.(D.P) */
    float: none;
    margin: 0;
    padding: 0;
    border-top: #CCC 1px solid;  
}
#nav li:hover > a, #nav a:focus {               /* create a style rule for links in the list item that currently is being hovered over or has focus. The rule needs to target only links that are direct children, so you need to use a child selector.(D.P)    the submenu is nested inside the "Product 2" list item, which in turn is nested inside the "Products" list item. So, in effect, the mouse is also hovering over the parent list items. As a result, the child selector targets the links that are direct children of each list item.(D.P)   Make the top-level menu accessible to keyboard navigation by adding the pseudo-class "a:focus" */
    background-color: #A38E6D;
    color: #444;
}
#nav ul a {
    background-color: #8C3A40;                  /* giving the submenus different colors from the main menu, by styling firstly, the links in their normal state. */
}
#nav ul ul a {
    background-color:#9F7575;               /* {LN_0} */
}
#nav ul li:hover > a {
    background-color: #C2644F;                  /* secondly sets the colors for the link currently being hovered over */
}
#nav li:first-child a, #nav ul ul li:first-child, #nav ul a {                   /* remove borders from the first link in the main menu, the first list item in a deeply nested menu, and on submenu links. */
    border: none;
}
#nav ul,#nav li {               /* making all items have the same width and with centered text {LN_0} */
    width:155px;
    text-align:center;
}