@charset "UTF-8";
img[alt^="left"] {
    -o-animation:scaleto 5s infinite alternate;
    -moz-animation:scaleto 5s infinite alternate;
    -webkit-animation:scaleto 5s infinite alternate;
    -ms-animation:scaleto 5s infinite alternate;
}
@-o-keyframes scaleto {
from {
-o-transform: translateX(0) scale(1);
}
25% {
-o-transform: translateX(200px) scale(0.5);
}
50% {
-o-transform:translateX(400px) scale(0);
}
75% {
-o-transform: translateX(600px) scale(-0.5,0.5);
}
to {
-o-transform: translateX(800px) scale(-1,1);
}
}
@-moz-keyframes scaleto {
from {
-moz-transform: translateX(0) scale(1);
}
25% {
-moz-transform: translateX(200px) scale(0.5);
}
50% {
-moz-transform:translateX(400px) scale(0);
}
75% {
-moz-transform: translateX(600px) scale(-0.5,0.5);
}
to {
-moz-transform: translateX(800px) scale(-1,1);
}
}
@-webkit-keyframes scaleto {
from {
-webkit-transform: translateX(0) scale(1);
}
25% {
-webkit-transform: translateX(200px) scale(0.5);
}
50% {
-webkit-transform:translateX(400px) scale(0);
}
75% {
-webkit-transform: translateX(600px) scale(-0.5,0.5);
}
to {
-webkit-transform: translateX(800px) scale(-1,1);
}
}
@-ms-keyframes scaleto {
from {
-ms-transform: translateX(0) scale(1);
}
25% {
-ms-transform: translateX(200px) scale(0.5);
}
50% {
-ms-transform:translateX(400px) scale(0);
}
75% {
-ms-transform: translateX(600px) scale(-0.5,0.5);
}
to {
-ms-transform: translateX(800px) scale(-1,1);
}
}