  @charset "UTF-8";
  @font-face {
    font-family:'song';
    src:url(../ext/song.ttf)
  }
  body {
    background-image:url(../img/bg_tile.jpg);
    background-image:repeating-linear-gradient(-45deg, aliceblue, ghostwhite 10px);
    background-attachment:fixed;
  }
  h1 {
    text-align:center;
    margin-top: 2em;
    margin-bottom: 4em;
    text-shadow: 1px 3px 6px dimgray;
  }
  a {
    text-decoration:none;
    outline:none;
    font-weight:bold;
    font-size:3em;
    font-family:'song';
    line-height: 1.5;
  }
  a:hover,a:focus {
    text-decoration:underline
    
  } 
  a:visited {
    color:darkred;
    
  }
  li {
    margin-bottom:64px;
    list-style-image: url(../ext/chk.png);
  }
  *[title] {
    cursor:help;
  }
  h1 abbr {
    text-decoration:none;
    border: none;
    outline: none;
  }
  ul {
    margin: auto;
    padding: 100px;
    padding-left:150px;
    width: 60em;
    background-image:url(../ext/paper.svg);
    background-size: 170%;
    background-position: -156px -40px;
    background-repeat: repeat-y;
  }
  #tinfo:not(:empty) {
  padding:1em;
  max-width:660px;
  border:1px solid lightgray;
  border-radius:16px;
  background-color:lightyellow;
  position:fixed;
  top:5%;
  right:32px;
  font-weight:bold;
  font-size:x-large;
  transition:right 1s;
  }
  #tinfo:empty {
  right:-999px;
  transition:right 1s;
  }
 /* for logo animation */
 @keyframes snowflake {
   100% { transform: translateY(1800px) rotate(1200deg);  }
 }
 img { 
   opacity:0.5;
   position: absolute;
   z-index:-1;
   animation: snowflake 40s linear infinite;  
 }
 @media (min-width:80em) {
   ul {
     padding-left:300px;
   }
 }